.notfound {
    background:  #ccced2; 
    position: relative;
    z-index: 1; 
    overflow: hidden;
    &__img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: calc(100% - 200px);
        object-fit: cover;
        z-index: -1;
    }
    h1 {
        color: $base-blue;
        margin-bottom: 40px;       
    }
    .container {
        min-height: 100vh; 
        min-height: calc(var(--vh, 1%) * 100 );
        transition: all .3s ease;
        padding-top: 200px;  
        padding-bottom: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end; 
    }
	&__content {
        padding-right: 3.4vw;
	}
    .btn-main {
        min-width: 250px;
    }
    @media (max-height: 700px) {
        .container {
            min-height: 800px;
        }
    }
    @media(max-width: $bp1) {
        .container {
          padding-bottom: 90px;
        }
        &__content {
            padding-right: 1.2vw;
        }
    }
    @media(max-width: 1350px) {
        &__content {
            padding-right: 0;
        }
    }
    @media (max-width: 1200px) {
        &__img {
            object-fit: contain;  
            height: calc(100% - 100px);
        }
        .container {
            padding-top: 77vw;
            justify-content: flex-end;
            align-items: center;
            text-align: center;
            padding-bottom: 150px;
        }
    }
    @media (max-width: $bp4) {
        &__img {
            left: -10%;
            width: 120%;
            max-width: 120%;
        }
        .container {
            padding-bottom: 92px;
        } 
        .btn {
            min-width: 230px;
        }
    }
}

