.item-services {
    padding: 24px 24px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@media (max-width: $bp1) {
    .item-services {
        padding: 16px 16px 40px;
    }
    
}
@media (max-width: $bp2) {
    .item-services {
        padding: 16px 16px 30px;
    }
    
}
@media (max-width: $bp4) {
    .main-services h2 {
        text-align: center;
    }
    
}