.main-test {
    position: relative;
    padding: 40px 0;
    background: linear-gradient(180deg, #D9DADC 36.86%, #ECF0F3 100%);
    &__content {
        max-width: 49.75%;
        min-height: 718px;
        display: grid;
        align-content: space-between;
    }
	 &__btn {
        padding: 40px 0;
        border-bottom: 1px solid $light-gray;
	}
    &__btn--demo {
        a {
           font-size: 18px;
           line-height: 138%; 
           @media (max-width: $bp1) {
            font-size: 16px;
          }
          @media (max-width: $bp2) {
            font-size: 14px;
          }
          @media (max-width: $bp4) {
            font-size: 13px;
          }
        }
        
    }
	&__img {
        position: absolute;
        width: 59.5%;
        top: 27%;
        right: 0;
        img {
            margin-left: auto;
        }
	}
    h2 {
        margin-bottom: 20px;
    }
    .h6 {
        color: $dark-gray;
        margin-top: 50px;
        margin-bottom: 32px;
        max-width: 50%;
    }
    .link-arrow {
        justify-content: flex-start;
    }
}
@media (min-width: 2500px) and (max-width: 3600px){
    .main-test__img {
        bottom: 0;
        img {
            position: absolute;
            right: 0;
            top: 0%;
            bottom: 0;
            object-fit: cover;
            width: 96.5%;
            max-height: 100%;
        }

    }
}
@media (min-width: 2200px) {
    .main-test__img {
        transform: translateY(-6%);
    }
}
@media (min-width: 1930px) {
    .main-test__img {
        top: 0;
    }
}
@media (max-width: $bp1) {
    .main-test__content {
        min-height: 490px;
        max-width: 48%;
    }
    .main-test .h6 {
        max-width: 312px;
    }
    .main-test__btn {
        padding: 24px 0;
    }
    .main-test__img {
        width: 56.5%;
    }
}
@media (max-width: $bp2) {
    .main-test {    
       padding: 0;
    }
    .main-test__content {
        min-height: 399px;
        padding: 40px 0 48px;
        max-width: none;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        align-items: center;       
    }
    .main-test__img {
        top: 52%;
        width: calc(50% - 10px);
    }
}
@media (max-width: 750px) {
    .main-test {
        padding-bottom: 48px;
        h3 {
            mask-border-outset: 20px;
        }
        .h6 {
            margin: 0 auto 12px;
        }
        h2, .h6 {
        text-align: center;
        }
    }
    .main-test__content {
        min-height: 0;
        display: block;
        padding: 50px 0 20px;
    }
    .main-test__img {
        position: relative;
        width: 100%;
        transform: translateY(0);
    }
    .main-test__btn {
        padding: 20px 0;
    }
}
