.main-form {
    padding: 64px 0;
    background-color: #CACDD4;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .container {
        display: flex;
    } 
    h2 {
        margin-bottom: 16px;
    }
    .h6, h6 {
        max-width: 518px;
    }
    &__left {
        flex: 0 0 48.5%;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__right {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
    }
    .form {
        min-width: 65%;
        max-width: 513px;
    }
}
@media (max-width: $bp1) {
    .main-form {
        padding: 48px 0;
        &__right {
            justify-content: flex-end;
        }
        .form {
            width: 91%;
            max-width: none;
        }
    }
    .main-form__img {
        left: -70px;
        object-fit: contain;
    }
    .main-form__left{
        flex: 0 0 53%;
    }
}
@media (max-width: $bp2) {
    .main-form {
        padding: 0 0 48px;
        &.with-sub {
            .main-form__header {
                min-height: 335px;
                max-width: 49.5%;
                padding-top: 40px;
            }
        } 
    }
    .main-form__img {
        top: -30px;
        height: auto;
    }
    .main-form .container {
        display: block;
    }
    .main-form__header {
        max-width: 60%;
        min-height: 40vw;
        margin-left: auto;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }
    .main-form__left {
        margin-right: 0;
    }
    .main-form .form {
        width: 100%;
    }
    .main-form .h6,
    .main-form h6  {
       max-width: 340px;
       margin-bottom: 32px;
    }    
}
@media (max-width: 700px) {
    .main-form {
        padding-top: 69.5vw;;
    }
    .main-form__img {
        left: 0;
    }
    .main-form__left {
        margin: 0 0 9px 0;
    }
    .main-form__header {
        max-width: 477px;
        min-height: 0 ;
        padding-top: 0 ;
        text-align: center;
        margin: 0 auto;
        h6 {
            margin-bottom: 0;
        }
    }  
    .main-form .h6,
    .main-form h6 {
        margin: 0 auto 20px;
        text-align: center;
    }
    .main-form.with-sub {
        .main-form__right {
            margin-top: 32px;
        }
    }
}
@media (max-width: $bp4) {
    .main-form__header {
        max-width: 343px;
    }
    .main-form .h6,
    .main-form h6 {
        max-width: 280px;
        margin-bottom: 0;
    }
}
@media (max-width: 320px) {
    .main-form {
        padding-top: 220px;
    }
}
