:root {--vh: 1%}
$bp1: 1500px;
$bp2: 992px;
$bp3: 768px;
$bp4: 576px;
$bp5: 480px;
$bp6: 380px;
$base-blue: #193A8A;
$dark-blue: #17064A;
$light-blue: #7C8EBA;
$dark-gray: #7D7D7D;
$light-gray: #BEBEBE;
$white-gray: #FAFAFA;
$white: #FFFFFF;
$red: #B62732;

